.btn-increment {
    padding: 8px 36px;
    margin-right: 20px;
    margin-bottom: 20px;
    font-size: 24px;
}

.txt {
    font-size: 24px;
}

.btn-allAdd, .btn-allReset {
    padding: 8px 20px;
    font-size: 24px;
    margin-bottom: 32px;
    margin-top: 36px;
    margin-right: 40px;
}

.btn-counterAdd{
    padding: 8px 48px;
    font-size: 32px;
}