/* header、 navbar */

.menu-btn {
    width: 28px;
    height: 20px;
    border: 1px solid white;
    top: 5px;
    right: 40px;
    border: 0;
}

.menu-btn::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 26px;
    left: 2px;
    background-color: #000;
    top: 12px;
    bottom: 0;
    margin: auto;
    box-shadow: 0 8px 0 #000,
        0 -8px 0 #000;
}

.menu-txt {
    opacity: 0;
}

.menu-control {
    z-index: -20;
}

.nav-bar {
    width: 100%;
    height: calc(100vh - 40px);
    top: 40px;
    left: -100%;
    transition: all .3s;
}

.menu-link {
    border-bottom: 1px solid #ffffff;
    transition: all .3s;
}

.menu-block {
    flex-direction: column;
}

.menu-control:checked~.header .nav-bar {
    left: 0;
}

@media screen and (max-width: 799.97px) {
    .menu-link:hover {
        background-color: #fff;
    }
}

@media screen and (min-width: 799.98px) {
    .menu-btn {
        display: none;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-bar {
        position: relative;
        left: 0;
        top: 0;
        width: auto;
        height: auto;
        background-color: transparent;
    }

    .menu-block {
        flex-direction: row;
        position: relative;
    }

    .menu-row {
        margin-right: 40px;
    }

    .menu-link {
        padding-top: 12px;
        padding-bottom: 12px;
        border: 0;
    }
}

/* content */
.content {
    flex-wrap: wrap;
}

.content-box {
    width: 100%;
    height: 130px;
    margin-bottom: 16px;
}

.box-4 {
    margin-bottom: 0;
}

.btn-action {
    transition: all .3s;
}

.btn-action:hover {
    background-color: #CCDDEE;
}

@media screen and (min-width: 500px) {
    .content-box {
        width: calc(50% - 8px);
    }

    .box-1 {
        margin-right: 16px;
    }

    .box-3 {
        margin-right: 16px;
        margin-bottom: 0;
    }

}

@media screen and (min-width: 800px) {
    .container {
        padding-left: 32px;
        padding-right: 32px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        padding-left: 160px;
        padding-right: 160px;
    }
}